<div id="header">
    <table>
        <tr>
            <td class="center">
                <h1 className="header center">Nico Judge</h1>
            </td>
        </tr>
        <tr>
            <td class="center">
                <h4 className="location">Full Stack Software Engineer</h4>
            </td>
        </tr>
        <tr>
            <td class="center">
                <a href="https://www.github.com/sirjudge" className="gitIcon">
                    <Icon IconStyle=IconStyle.Brands IconSize=IconSize.X02 IconName="fa-github" onmouseover=@Animation.Shake() Color="gold"/>
                    
                </a>
            </td>
            <td>
                <a href="mailto:nico.a.judge@gmail.com" className="emailIcon">
                    <Icon IconStyle=IconStyle.Solid IconSize=IconSize.X02 IconName="fa-envelope" onmouseover=@Animation.Shake() Color="gold"/>
                </a>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/nicojudge/" className="linkedInIcon">
                    <Icon IconStyle=IconStyle.Brands IconSize=IconSize.X02 IconName="fa-linkedin" onmouseover=@Animation.Shake() Color="gold"/>
                </a>
            </td>
        </tr>
    </table>
</div>

@code {
    
}